<html>
<head>
  <link rel="stylesheet" type="text/css" href="/application.css">
</head>
<body>
  <h1>Contact List</h1>

  <div class="contacts">
    <!-- TODO: Display contacts here -->
    <%= contacts.length %>
  </div>
</body>
</html>
