<html>
<head>
  <link rel="stylesheet" type="text/css" href="/application.css">
</head>
<body>
  <h1>Contact List</h1>
  <div>
    <a href="/">All Contacts</a> | <a href="/?name=Duck">The Ducks</a>
  </div>

  <div class="contacts">
    <!-- TODO: Display contacts here -->
    <% contacts.forEach(function(contact) { %>
      <div class="contact">
        <img src="<%= contact.image_url %>"/>
        <%= contact.name %>
        (<%= contact.email %>)
      </div>
    <% }) %>
  </div>

</body>
</html>
