<html>
<head>
  <link rel="stylesheet" type="text/css" href="/application.css">
</head>
<body>
  <h1>Create Contact</h1>

  <form method="POST" action="/contacts">
    <p>
      <label>Name</label>
      <input type="text" name="name" />
    </p>
    <p>
      <label>Email</label>
      <input type="text" name="email" />
    </p>
    <p>
      <label>Image URL</label>
      <input type="text" name="image_url" />
    </p>
    <p><input type="submit" value="Create Contact"/></p>
  </form>

</body>
</html>
